
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <h1>ติดต่อเรา</h1>
    <hr style="border: 2px solid Gray;" />
    <div class="row text-center">
        <div class="col-sm-3 col-xs-6 first-box">
            <h1><span class="glyphicon glyphicon-earphone"></span></h1>
            <h3>Phone</h3>
            <p>061-0384626</p><br>
            <p>099-6343380</p>
        </div>
        <div class="col-sm-3 col-xs-6 second-box">
            <h1><span class="glyphicon glyphicon-home"></span></h1>
            <h3>Location</h3>
            <p>SSKRU</p><br>
            <p>SSKRU</p>
        </div>
        <div class="col-sm-3 col-xs-6 third-box">
            <h1><span class="glyphicon glyphicon-send"></span></h1>
            <h3>E-mail</h3>
            <p>Chaiyawat.madu59@sskru.ac.th</p><br>
            <p>surachai.tong59@sskru.ac.th</p>
        </div>
        <div class="col-sm-3 col-xs-6 fourth-box">
            <h1><span class="glyphicon glyphicon-leaf"></span></h1>
            <h3>FaceBook</h3>
            <p>Chaiyawat  Maduea</p><br>
            <p>สุรชัย  ทองแสง</p>
        </div>
    </div>
</div>

<style>
    .first-box {
        padding: 10px;
        background: #9C0;
    }

    .second-box {
        padding: 10px;
        background: #39F;
    }

    .third-box {
        padding: 10px;
        background: #F66;
    }

    .fourth-box {
        padding: 10px;
        background: #6CC;
    }
</style>