@model IEnumerable<session.Models.Confirmed>

@{
    ViewData["Title"] = "conf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>คนที่รับงานนี้</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                ชื่องาน
            </th>
            <th>
                คนรับงาน
            </th>
            <th>
                สถานะงาน
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.jname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sesid)
                </td>
                <td>
                    @if (item.jstatus == "1")
                    {@Html.ActionLink("เอาคนนี้", "get", new { id = item.Jid })}
                else if (item.jstatus == "2")
                {
                    <div>กำลังดำเนินการ</div>
                }
                else if (item.jstatus == "3")
                {
                    <div>ดำเนินงานเสร็จแล้ว!!</div>
                }
                else if (item.jstatus == "4")
                {
                    <div>เรียบร้อย!!</div>
                }
                </td>
                <td>
                    @if (item.jstatus == "3")
                    {
                        <div class="btn btn-info">
                            @Html.ActionLink("ยืนยัน", "finish", new { id = item.Jid })
                        </div>
                        <a href="#" class="btn btn-danger" role="button">ไม่ยอมรับ</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
