@model session.Models.Login

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card card-container justify-content-xl-center">
        <br>
        <h2 class="text-center"><b>Login เพื่อเข้าสู่ระบบ</b></h2>
        <img id="profile-img" class="mx-auto d-block" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form asp-action="Login">
            <span id="reauth-email" class="reauth-email"></span>
            <input asp-for="username" class="form-control" placeholder="UserName" required autofocus>
            <input asp-for="password" class="form-control" placeholder="PassWord" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
        </form><!-- /form -->
    </div><!-- /card-container -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}