
@{
    ViewData["Title"] = "profile1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3 my-3 border">
    <div class="jumbotron">
        <h2><b>โปรไฟล์ของฉัน</b></h2>
        <div class="media border p-3">
            <img src="@ViewBag.pictrue" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
            <div class="media-body">
                <h4>@ViewBag.name<small><i>  อายุ @ViewBag.age ปี</i></small></h4>
                <p>ที่อยู่ : @ViewBag.add</p>
            </div>
        </div>
        <hr />
        <a href="pro1_1" class="btn btn-info" role="button">งานของฉัน</a>
        <a href="pro1_2" class="btn btn-info" role="button">งานที่ถูกว่าจ้าง</a>
    </div>
</div>
