@model session.Models.Register

@{
    ViewData["Title"] = "register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br>
    <h2 class="text-center"><b>สมัครสมาชิกผู้รับงาน</b></h2>
    <hr />
    <form asp-action="register" class="form-horizontal ">
        <fieldset>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="username" class="col-md-4 control-label"></label>
                <div class="col-md-4 ">
                    <input asp-for="username" placeholder="user1234" class="form-control input-md" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="password" class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="password" placeholder="*****" class="form-control" />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="name" class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="name" placeholder="สุรชัย ทองแสง" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="age" class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="age" placeholder="22" class="form-control" />
                    <span asp-validation-for="age" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="address" class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="address" placeholder="11 บ้าน.ง้าว ต.เต่า อ.อออ่าง จ.ศรีสะเกษ" rows="5" class="form-control" />
                    <span asp-validation-for="address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="pictrue" class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="pictrue" placeholder="1330822456727" class="form-control" />
                    <span asp-validation-for="pictrue" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="phon" class="col-md-4 col-sm-12 control-label"></label>
                <div class="col-md-4 col-sm-12">
                    <input asp-for="phon" placeholder="0819442133" class="form-control" />
                    <span asp-validation-for="phon" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="Email" placeholder="admin1234@gmail.com" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="line" class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="line" placeholder="admin_1234" class="form-control" />
                    <span asp-validation-for="line" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="facebook" class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="facebook" placeholder="https://web.facebook.com/Beer.Chaiyawat.Maduea" class="form-control" />
                    <span asp-validation-for="facebook" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 control-label">
                <a href="https://uppic.cc/?fbclid=IwAR0aPysKDeUBRNr8WJU11KKoGHvYNjWH7N_zG9DYtwWXSXPpnjO6HHHt2Bk" target="_blank" class="btn btn-info" role="button">ฝากรูป!!</a>
            </div>
            <div class="form-group">
                <label asp-for="pictrueP" class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <input asp-for="pictrueP" placeholder="https://uppic.cc/?fbclid=IwAR0aPysKDeUBRNr8WJU11KKoGHvYNjWH7N_zG9DYtwWXSXPpnjO6HHHt2Bk" class="form-control" />
                    <span asp-validation-for="pictrueP" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-8 control-label">
                <label class=" control-label">เลือกความถนัด</label>
            </div>
            <div class="form-group">
                <div class="col-md-8 control-label">
                    <input type="radio" asp-for="skill1" id="check11" value="" onclick="myFunction1()"> ไม่ใช่
                    <input type="radio" asp-for="skill1" id="check1" value="1" onclick="myFunction1()"> งานบ้าน
                </div>
                <div class="col-md-8" id="text1" style="display:none">
                    <div class="row justify-content-end">
                        <input type="radio" asp-for="rateskill1" value="1"> 100-200
                        <input type="radio" asp-for="rateskill1" value="2"> 200-300
                        <input type="radio" asp-for="rateskill1" value="3"> 300-400
                        <input type="radio" asp-for="rateskill1" value="4"> 400-500
                        <input type="radio" asp-for="rateskill1" value="5"> 500-600
                        <input type="radio" asp-for="rateskill1" value="6"> 600-700
                        <input type="radio" asp-for="rateskill1" value="7"> 700-800
                        <input type="radio" asp-for="rateskill1" value="8"> 800-900
                        <input type="radio" asp-for="rateskill1" value="9"> 900-1000+
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 control-label">
                    <input type="radio" asp-for="skill2" id="check22" value="" onclick="myFunction2()"> ไม่ใช่
                    <input type="radio" asp-for="skill2" id="check2" value="2" onclick="myFunction2()"> งานสวน
                    <div asp-for="rateskill2" id="text2" style="display:none">
                        <div class="row justify-content-end">
                            <input type="radio" asp-for="rateskill2" value="1"> 100-200
                            <input type="radio" asp-for="rateskill2" value="2"> 200-300
                            <input type="radio" asp-for="rateskill2" value="3"> 300-400
                            <input type="radio" asp-for="rateskill2" value="4"> 400-500
                            <input type="radio" asp-for="rateskill2" value="5"> 500-600
                            <input type="radio" asp-for="rateskill2" value="6"> 600-700
                            <input type="radio" asp-for="rateskill2" value="7"> 700-800
                            <input type="radio" asp-for="rateskill2" value="8"> 800-900
                            <input type="radio" asp-for="rateskill2" value="9"> 900-1000+
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 control-label">
                    <input type="radio" asp-for="skill3" id="check33" value="" onclick="myFunction3()"> ไม่ใช่
                    <input type="radio" asp-for="skill3" id="check3" value="3" onclick="myFunction3()"> งานใช้แรง
                    <div asp-for="rateskill3" id="text3" style="display:none">
                        <div class="row justify-content-end">
                            <input type="radio" asp-for="rateskill3" value="1"> 100-200
                            <input type="radio" asp-for="rateskill3" value="2"> 200-300
                            <input type="radio" asp-for="rateskill3" value="3"> 300-400
                            <input type="radio" asp-for="rateskill3" value="4"> 400-500
                            <input type="radio" asp-for="rateskill3" value="5"> 500-600
                            <input type="radio" asp-for="rateskill3" value="6"> 600-700
                            <input type="radio" asp-for="rateskill3" value="7"> 700-800
                            <input type="radio" asp-for="rateskill3" value="8"> 800-900
                            <input type="radio" asp-for="rateskill3" value="9"> 900-1000+
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 control-label">
                    <input type="radio" asp-for="skill4" id="check44" value="" onclick="myFunction4()"> ไม่ใช่
                    <input type="radio" asp-for="skill4" id="check4" value="4" onclick="myFunction4()"> งานอื่นๆ
                    <div asp-for="rateskill4" id="text4" style="display:none">
                        <div class="row justify-content-end">
                            <input type="radio" asp-for="rateskill4" value="1"> 100-200
                            <input type="radio" asp-for="rateskill4" value="2"> 200-300
                            <input type="radio" asp-for="rateskill4" value="3"> 300-400
                            <input type="radio" asp-for="rateskill4" value="4"> 400-500
                            <input type="radio" asp-for="rateskill4" value="5"> 500-600
                            <input type="radio" asp-for="rateskill4" value="6"> 600-700
                            <input type="radio" asp-for="rateskill4" value="7"> 700-800
                            <input type="radio" asp-for="rateskill4" value="8"> 800-900
                            <input type="radio" asp-for="rateskill4" value="9"> 900-1000+
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 control-label">
                    <input type="submit" value="สมัครสมาชิก" class="btn btn-success" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script>
    function myFunction1() {
        var checkBox = document.getElementById("check1");
        var checkbox0 = document.getElementById("check11");
        var text1 = document.getElementById("text1");
        if (checkBox.checked == true && checkbox0.checked != true) {
            text1.style.display = "block";
        } else {
            text1.style.display = "none";
        }
    }
    function myFunction2() {
        var checkBox = document.getElementById("check2");
        var checkbox0 = document.getElementById("check22");
        var text2 = document.getElementById("text2");
        if (checkBox.checked == true && checkbox0.checked != true) {
            text2.style.display = "block";
        } else {
            text2.style.display = "none";
        }
    }
    function myFunction3() {
        var checkBox = document.getElementById("check3");
        var checkbox0 = document.getElementById("check33");
        var text3 = document.getElementById("text3");
        if (checkBox.checked == true && checkbox0.checked != true) {
            text3.style.display = "block";
        } else {
            text3.style.display = "none";
        }
    }
    function myFunction4() {
        var checkBox = document.getElementById("check4");
        var checkbox0 = document.getElementById("check44");
        var text4 = document.getElementById("text4");
        if (checkBox.checked == true && checkbox0.checked != true) {
            text4.style.display = "block";
        } else {
            text4.style.display = "none";
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
